@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&family=Roboto:wght@300;400&display=swap');

html {
	font-size: 10px;
	box-sizing: border-box;
}

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	font-size: inherit;
	box-sizing: inherit;
}

body {
	font-family: 'Roboto', sans-serif;
	font-size: 1.6rem;
	font-weight: 400;
	line-height: 1.5;
	background-color: #fff;
	color: rgba(0, 0, 0, 0.8);
}

.heading {
	font-family: 'Kumbh Sans', sans-serif;
	color: #000;
	font-size: 2.5rem;
	text-align: center;
	text-transform: uppercase;
}

header {
	padding: 2rem;
	background: rgba(0, 0, 0, 0.03);
}

.info-link {
	display: flex;
	margin: 1rem 0;
}

.info-link span {
	display: none;
}

.info-link svg {
	width: 2.5rem;
	height: 2rem;
	margin-left: 0.8rem;
	fill: purple;
}

section {
	font-weight: 300;
	margin-top: 2rem;
	padding: 2rem;
}

section p {
	margin-top: 1rem;
}

.section-heading {
	text-align: left;
}

.section-icon {
	display: inline-flex;
	padding: 0.5rem;
	margin-right: 1rem;
	border-radius: 50%;
	background-color: #800080;
	color: #fff;
}

.section-icon svg {
	width: 2.5rem;
	height: 2.5rem;
	vertical-align: middle;
}

.certification {
	margin-top: 2rem;
}

.certification span {
	font-weight: 800;
	font-size: 1.8rem;
}

.sub-heading {
	margin-top: 2rem;
	font-size: 2rem;
	text-transform: capitalize;
	color: #800080;
}

.course-duration {
	font-weight: 400;
}

.project-link {
	font-weight: 400;
	font-size: 1.8rem;
	color: rgba(0, 0, 255, 0.76);
}

.skills-list {
	padding: 2rem;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	row-gap: 1rem;
	column-gap: 5rem;
}

.skills-list li {
	list-style-type: disc;
	font-weight: 400;
}

.skills-list li::marker {
	color: #800080;
}

@media screen and (min-width: 768px) {
	body {
		font-size: 2rem;
	}

	header {
		padding: 6.5rem;
	}

	.name {
		font-size: 3.5rem;
		margin: auto 0;
		text-align: left;
	}

	.info-links-container {
		margin-top: 2rem;
	}

	.info-link {
		flex-direction: row-reverse;
		justify-content: flex-end;
		align-items: end;
	}

	.info-link svg {
		height: 2.5rem;
		margin-left: 0;
		margin-right: 1rem;
	}

	section {
		padding: 6.5rem;
	}

	.section-icon {
		margin-left: -5.2rem;
		margin-right: 1rem;
	}
}

@media screen and (min-width: 1024px) {
	header {
		padding: 2rem 0;
	}

	.header-container {
		max-width: 1024px;
		margin: auto;
		display: flex;
		justify-content: space-between;
	}

	.info-link {
		flex-direction: row;
	}

	.info-link svg {
		margin-right: 0;
		margin-left: 1.5rem;
	}

	main {
		padding-bottom: 5rem;
		max-width: 1024px;
		margin: auto;
	}

	section {
		padding: 5rem 0;
		padding-bottom: 0;
		width: 85%;
	}

	.section-icon {
		margin-left: -8rem;
		margin-right: 4rem;
	}
}
