@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&family=Roboto:wght@300;400&display=swap');

html {
	font-size: 10px;
	box-sizing: border-box;
}

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	font-size: inherit;
	box-sizing: inherit;
}

body {
	font-family: 'Roboto', sans-serif;
	font-size: 1.6rem;
	font-weight: 400;
	line-height: 1.5;
	background-color: #fff;
	color: rgba(0, 0, 0, 0.8);
}

.heading {
	font-family: 'Kumbh Sans', sans-serif;
	color: #000;
	font-size: 2.5rem;
	text-align: center;
	text-transform: uppercase;
}

header {
	padding: 2rem;
	background: rgba(0, 0, 0, 0.03);
}

.info-link {
	display: flex;
	margin: 1rem 0;
}

.info-link span {
	display: none;
}

.info-link svg {
	width: 2.5rem;
	height: 2rem;
	margin-left: 0.8rem;
	color: purple;
}

section {
	font-weight: 300;
	margin-top: 2rem;
	padding: 2rem;
}

section p {
	margin-top: 1rem;
}

.section-heading {
	text-align: left;
}

.section-icon {
	padding: 0.5rem;
	margin-right: 1rem;
	border-radius: 50%;
	background-color: #800080;
	color: #fff;
}

.section-icon svg {
	width: 2.5rem;
	height: 2.5rem;
	vertical-align: middle;
}

.certification {
	margin-top: 2rem;
}

.certification span {
	font-weight: 800;
	font-size: 1.8rem;
}

.sub-heading {
	color: #800080;
}

.course-duration {
	font-weight: 400;
}
